@{
<<<<<<< HEAD
    ViewData["Title"] = "Tercer cambio 27/09/19";
=======
    ViewData["Title"] = "Mensaje del dev";                                  
>>>>>>> Cambio en el titulo del dev
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
